[Unit]
Description=fail2ban attack scanner
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/fail2ban-client -x start

[Install]
WantedBy=multi-user.target
